DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN
CLIENT_ID=YOUR_DISCORD_APP_ID
GUILD_ID=YOUR_DISCORD_GUILD_ID
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/taxi-bot-prod?retryWrites=true&w=majority

SYNC_COMMANDS_ON_STARTUP=true
COMMAND_SCOPE=guild

TAXI_CATEGORY_ID=
TAXI_PANEL_CHANNEL_ID=
TAXI_AUDIT_CHANNEL_ID=
TAXI_SHIFT_CHANNEL_PREFIX=turno

ROLE_TAXISTA_ID=
ROLE_SUPERVISOR_ID=
ROLE_DUENO_ID=

ROLE_TAXISTA=Taxista
ROLE_SUPERVISOR=Supervisor
ROLE_DUENO=Dueño
