DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN
CLIENT_ID=YOUR_DISCORD_APP_ID
GUILD_ID=YOUR_DISCORD_GUILD_ID
TAXI_CATEGORY_ID=
TAXI_PANEL_CHANNEL_ID=
ROLE_TAXISTA=Taxista
ROLE_SUPERVISOR=Supervisor
ROLE_DUENO=Dueño
TAXI_SHIFT_CHANNEL_PREFIX=turno
